# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# https://pip.pypa.io/en/stable/topics/caching/
cache:
  paths:
    - .cache/pip

before_script:
  - python3 --version
  - python3 -m venv venv
  - source venv/bin/activate

initialize:
  script:
    # install dependecies
    - python -m pip install --upgrade pip
    - pip install flake8 flake8-docstrings pytest pytest-cov pdoc
    #- if: [ -f requirements.txt ]
    #- then
    #-   pip install -r requirements.txt
    #- fi 

check_requirements:
  script:
    - test -f requirements.txt && pip install -r requirements.txt

test:
  script:
    - pytest --doctest-modules --cov=. --cov-fail-under=66
  artifacts:
    paths:
      - build/*

pages:
  script:
    - python3 -m pip install sphinx sphinx-rtd-theme
    - cd doc
    - make html
    - mv build/html/ ../public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

deploy:
  stage: deploy
  script: echo "Define your deployment script!"
  environment: production
